/* Write your CSS here */
.list-item {
  display: fex;
  flex-direction: row;
  border: 2px solid #d7dfe9;
  justify-content: space-between;
}
.button {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
